@import './../../common/styles/templates';

.container {
  display: flex;
  border: 2px solid;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.darkTheme {
  @extend %darkTheme;
}

.nightTheme {
  @extend %nightTheme;
}
.lightTheme {
  @extend %lightTheme;
}
