@import './../../common/styles/templates';

.container {
  max-width: 300px;
  margin: 10px;
  border: 5px solid gray;
}

.darkTheme {
  @extend %darkTheme;
}
.nightTheme {
  @extend %nightTheme;
}

.lightTheme {
  @extend %lightTheme;
}
